<div class="self-center pt-10 pl-12 w-5/12">
    <h2 class="underline">Project Gallery</h2>
    <div>
        <div class="mb-3">
            <input type="text" class="form-control block w-full px-3 py-1.5
            text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
            rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleText0" placeholder="Project Title" />
        </div>
    
        <div class="my-3">
            <textarea type="text" class="form-control block w-full px-3 py-1.5
            text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
            rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleText0" placeholder="Project Description"></textarea>
        </div>
        

    </div>

    <hr class="w-full h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700">
    


</div>
